.form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  &__fields {
    max-width: 100%;
  }
}
button {
  height: 50px;
  max-width: 100%;
}

.login {
  &__title {
    font-size: 40px;
  }
}
